.mnemonics-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.mnemonics-next-btn{
    margin-top: 50px;
}

.mnemonics-input{
    background: hsla(201, 100%, 20%, 0.28);
    border: 1px solid hsl(201, 100%, 18%);
    color: antiquewhite;
    border-radius: 0.6rem;
    padding: 5px 5px;
    font-size: (10px + 2vmin);
}

@media screen and (max-width: 600px) {
    .mnemonics-grid{
        gap: 20px;
    }
    .mnemonics-input {
        font-size: 12px;
        padding: 5px;
        max-width: 100px;;
    }

}

