.aside-component {
    min-width: 350px;
    height: 100%;
    border-right: 2px solid hsla(201, 100%, 50%, 0.3);
    padding-right: 5px;
}


aside {
    position: relative;
}

.min-width-275 {
    min-width: 275px;
}

.min-width-350 {
    min-width: 350px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid hsla(201, 100%, 50%, 0.3);
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.status-icon {
    /* Add online/offline indicator styles */
}

.settings-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iY29sb3I6IHdoaXRlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiAgdmlld0JveD0iMCAwIDE2IDE2Ij4gPHBhdGggZD0iTTkuNSAxM2ExLjUgMS41IDAgMSAxLTMgMCAxLjUgMS41IDAgMCAxIDMgMHptMC01YTEuNSAxLjUgMCAxIDEtMyAwIDEuNSAxLjUgMCAwIDEgMyAwem0wLTVhMS41IDEuNSAwIDEgMS0zIDAgMS41IDEuNSAwIDAgMSAzIDB6IiBmaWxsPSJ3aGl0ZSI+PC9wYXRoPiA8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 20px;
    vertical-align: middle;
    z-index: 5;
}

.settings-icon:hover {
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16"> <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" fill="rgba(133, 138, 186, 0.89)"></path> </svg>');
}

.settings-icon:active {
    background-image: url('data:image/svg+xml;utf,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16"> <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" fill="rgba(133, 138, 186, 1)"></path> </svg>');
}

.tab-selector {
    display: flex;
}

.tab:hover {
    text-shadow: 0 0 8px white;
    transition: all 0.1s;
}

.tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: antiquewhite;
    background-color: hsla(201, 100%, 50%, 0.3);
    background-color: hsla(201, 25%, 49%, 0.18);
    border: none;
    margin-top: 5px;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    font-weight: 600;

}

.tab.active:nth-of-type(odd) {
    box-shadow: 2px 0 0 0 hsla(198, 100%, 2%, 1);
    ;
}

.tab.active:nth-of-type(even) {
    box-shadow: -2px 0 0 0 hsla(198, 100%, 2%, 0.374);
}

.tab-selector {
    width: 100%;
}

.tab:not(.active) {
    margin-top: 8px;
}

.tab.active {
    background: hsla(201, 100%, 50%, 0.687);
    background: hsla(201, 100%, 14%, 0.687);
    /* transition: all 0.5s; */
    text-shadow: 0 0 1px white;
}

.dynamic-component {
    height: calc(100% - 110px);
    background: linear-gradient(to bottom, hsla(201, 100%, 14%, 0.687), hsla(201, 100%, 50%, 0.3), hsla(201, 100%, 50%, 0.3));
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    width: 100%;
}



.search-input {
    box-sizing: border-box;
    position: relative;
    width: 90%;
    padding-right: 2rem;
    border-color: transparent;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: start;
}

.search-input::placeholder {
    text-align: center;
}

.chat-sessions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-height: calc(100vh - 145px);
}

.chats-component {
    width: 100%;
}

.search-input-icon {
    background-image: url('data:image/svg+xml;utf,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" fill="white"></path> </svg>');
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    position: absolute;
    right: 1.1rem;
    top: 0;
    margin-top: 10px;
}


.message-list-container {
    min-width: 350px;
    position: inherit;
    max-height: calc(100vh - 185px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: darkgrey rgba(1, 1, 1, 0);
    margin-top: 10px;
}

.message-item {
    /* padding: 10px; */
    padding-top: 0;
    overflow: hidden;
    max-width: 350px;
    box-sizing: border-box;
}

.friend-item {
    padding: 10px;
    padding-top: 0;
}

.message-item:not(:last-of-type) {
    border-bottom: 2px solid hsla(201, 100%, 50%, 0.3);
    border-bottom: 2px solid hsla(201, 100%, 50%, 0.3);
}

.message-list-container::-webkit-scrollbar {
    width: 4px;
}

.message-list-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}



/* .message-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 12px;
    opacity: 1;
    margin-top: 10px;
    transition: all 0.1s;
    color: black;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: slategrey;
    border-radius: 10px;
    border-bottom-right-radius: 0;

    position: relative;
    max-width: 90%;
    display: flex;
} */

.message-card:not(:last-of-type) {
    margin-top: 10px;
    border-bottom: none;
    margin-bottom: 10px;
}

.message-card::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -2px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    /* border-right-color: #DCF8C6; */
    border-right-color: slategrey;
    transform: rotateZ(-45deg);
    /* transform: rotateY(-45deg); */
}

.chat-meta {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
}

.chat-meta:hover {
    cursor: pointer;
    background-color: hsla(200, 20%, 18%, 0.99);
}

.chat-meta.active {
    background-color: hsla(198, 7%, 27%, 0.99);
}

/* .chat-meta:first-of-type{
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
} */

.chat-meta__profile-pic {
    display: flex;
    font: inherit;
    font-size: 100%;
    vertical-align: middle;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    padding: 13px 15px 0 13px;
    align-items: center;
}

.chat-meta__profile-pic>img {
    border-radius: 50%;
    border: 1px solid white;
}

.chat-meta__meta {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
    flex-grow: 1;
    font-size: 16px;
    padding-right: 15px;
}

.chat-meta__meta__sup {
    display: flex;
    align-items: center;
    line-height: normal;
    text-align: left;
}

.chat-meta__meta__sup__username_div {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #e9edef;
}

.chat-meta__meta__sup__username_span {
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    flex-grow: 1;
    overflow-x: hidden;
    position: relative;
    overflow-wrap: break-word;
}


.chat-meta__sup__date_div {
    overflow: hidden;
    line-height: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: none;
    max-width: 100%;
    font-size: 12px;
    color: #8696a0;
    margin-top: 3px;
    margin-left: 6px;
}

.chat-meta__meta__sub {
    display: flex;
    align-items: center;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 2px;
    justify-content: flex-end;
}

.chat-meta__meta__sub__unread{
    flex: none;
    max-width: 100%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    min-width: 1.1em;
    display: block;
}

.chat-meta__meta__sub__unread-badge{
    text-align: center;
    background-color: var(--unread-timestamp);
    padding: 0.3em 0.4em;
    border-top-right-radius: 1.1em;
    border-top-left-radius: 1.1em;
    border-bottom-left-radius: 1.1em;
    border-bottom-right-radius: 1.1em;
    min-width: 0.8em;
    line-height: 1;
    min-height: 1em;
    font-size: 0.75rem;
    display: block;
    color: #111b21;
}

.unread{
    color: var(--unread-timestamp);
    font-weight: 800;
}


.send-fr-link {
    position: absolute;
    width: calc(100% - 10px);
    /* left: 25% */
}

.friend-card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    overflow-x: hidden;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #334155f7;
    opacity: 1;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 0.6rem;
    transition: all 0.1s;
    color: white;
}

.friend-card.unacknowledged {
    border-color: limegreen;
}

.friend-card:hover {
    cursor: pointer;
    box-shadow: none;
    transition: all 0.1s;
    background-color: #363f4ced;
    box-shadow: 1px 1px;
}

.friend-card:active {
    background-color: #333840ed;
}

.status-emojis {
    position: absolute;
    font-size: 1.3rem;
    border-radius: 50%;
    transform: translateY(25%);
    margin-left: 15px;
}

.friend-card .profile-pic {
    object-fit: cover;
    border: 2px solid antiquewhite;
}

.friend-username {
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown {
    background-color: #333;
    color: #fff;
    position: absolute;
    min-width: 75px;
    padding: 10px 0;
    /* transform: translateX(-110%) translateY(-25%); */
    transform:  translateX(-55%);
    opacity: 1;
    transition: all 0.1s;
    border: 1px solid antiquewhite;
    z-index: 5;
    border-radius: 0.6rem;
    box-shadow: 0 0 3px 1px;
    box-sizing: border-box;
    /* border-top-left-radius: 0; */
}

.dropdown::after {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    transform: rotateZ(-90deg);
    border: 10px solid transparent;
    border-left-color: antiquewhite;
    border-top-left-radius: 0;
    z-index: -1;
}

.dropdown-item {
    text-align: center;
    padding: 5px 10px;
}

.dropdown-item:hover {
    background-color: #514b4b;
    cursor: pointer;

}
.connection-indicator-container{
    display: flex;
    text-overflow: ellipsis;
    max-width: 200px;
    gap: 10px;
    align-items: center;
    vertical-align:middle;
}

.connection-indicator{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid rgb(184, 189, 192);
    z-index: 10;
    justify-self: flex-end;
    position: relative;
    min-width: 10px;
}

.connection-indicator:hover{
    cursor: pointer;
}

.connection-indicator.retrying{
    background-color: darkorange;
}
.connection-indicator.disconnected{
    background-color: brown;
}
.connection-indicator.connected{
    background-color: rgb(44, 165, 42);
}

.connection-indicator.connected:hover{
    cursor: default;
    pointer-events: none;
}


@media screen and (max-width: 500px) {
    .search-input-icon {
        right: 1.5rem;
    }

    .message-list-container {
        max-width: none;        
    }
}

@media screen and (min-width: 1300px) {
    .search-input-icon {
        right: 1.5rem;
    }

    .message-list-container {
        max-width: none;
    }
}