  .extension-check{
    bottom: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .please-wait{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download-section{
    text-align: center;
    transition: all 0.5s;
  }