
.connection-indicator{
    position: absolute;
    top: 8px;
    right: 15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid rgb(184, 189, 192);
    z-index: 5000;
}

.connection-indicator:hover{
    cursor: pointer;
}

.connection-indicator.retrying{
    background-color: darkorange;
}
.connection-indicator.disconnected{
    background-color: brown;
}
.connection-indicator.connected{
    background-color: rgb(44, 165, 42);
}

.connection-indicator.connected:hover{
    cursor: default;
    pointer-events: none;
}


.back-btn {
    border-radius: 5px;
    padding: 5px 10px;
    background: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 18%);
    outline: none;
    color: antiquewhite;
    cursor: pointer;
    font-size: 1rem;
    transition: all 1s;
}

.back-btn:hover {
    background-color: hsla(201, 100%, 50%, 0.3);
}

.back-btn:focus {
    background-color: hsla(201, 100%, 50%, 0.5);
}




.main{
    padding: 5px;
    position: relative;
    width: 100%;
    height: 100%;
}

.theater{
    margin-top: 5px;
    box-sizing: border-box;
    background-color: blue;
    height: 100%;
    height: calc(100% - 51px);
    padding: 5px;
    background: linear-gradient(to bottom, hsla(201, 100%, 14%, 0.687), hsla(201, 100%, 50%, 0.3), hsla(201, 100%, 50%, 0.3));
    border-radius: 0.6rem;
    padding: 10px;
}

.friend-details{
    box-sizing: border-box;
    /* background-color: #636363f7; */
    border-radius: 0.6rem;
    height: 100%;
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    /* box-shadow: 0 0 5px 3px #a8a59f84; */
}

.friend-details-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #334155f7;
    opacity: 1;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 0.6rem;
    transition: all 0.1s;
    color: white;
    box-shadow: 5px 2px 10px 5px #334155f7;
}

.friendship-status{

}

.friend-action-buttons{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    width: 100%;
}

.emoji-logo{
    font-size: 90px;
}

.emoji-logo span:nth-child(1) {
    position: relative;
    display: inline-block;
    transform: translateY(-25%);
  }
  
  .emoji-logo span:nth-child(2) {
    position: relative;
    margin-left: -40px;
  }