.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    overflow: hidden;
    min-width: 275px;
}

.chat-history::-webkit-scrollbar {
    width: 4px;
}

.chat-history::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chat-history {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: darkgrey rgba(1, 1, 1, 0);
    padding: 0 3rem;
    overflow-x: hidden;
}

.chat-input-container {
    width: 100%;
    padding-top: 10px;
    border-top: 3px solid hsla(201, 95%, 9%, 0.3);
}

.chat-input form {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    line-height: 20px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    min-height: 20px;
}

.chat-input textarea {
    flex-grow: 1;
    resize: none;
    border-radius: 0.3rem;
    background-color: hsla(201, 96%, 10%, 0.3);
    border: none;
    color: antiquewhite;
    margin-right: 10px;
    height: 10px;
    line-height: 20px;
    padding-top: 15px;
    padding-left: 10px;
    outline: none;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: "kern";
    font-kerning: auto;
    font-optical-sizing: auto;
    font-weight: 400;
}

.chat-input form input[type="submit"] {
    border-radius: 5px;
    padding: 5px 10px;
    background: hsla(126, 98%, 22%, 0.602);
    border: 1px solid hsl(201, 89%, 7%);
    outline: none;
    color: antiquewhite;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.1s;
}

/* .chat-input button {
    margin-left: auto;
} */

.chat-message {
    /* padding: 8px 20px; */
    margin-bottom: 10px;
    background-color: #4f704f;
    border-radius: 10px;
    position: relative;
    max-width: 70%;
    min-width: none;
    display: flex;
    flex-shrink: 1;
    color: antiquewhite;
    white-space: pre-line;
    padding: 0;
    flex-direction: column;
}

.sent .message-content {
    padding: 8px 10px 0 10px;
    flex-grow: 1;
    font-size: 14px;
}

.received .message-content {
    padding: 8px 10px 0 10px;
    flex-grow: 1;
    font-size: 14px;
}

.chat-message.sent .message-content::after {
    content: "";
    display: inline-block;
    width: 50px;
    /* Width of the timestamp */
    height: 1px;
    background: transparent;
    vertical-align: bottom;
}

.chat-message.received .message-content::after {
    content: "";
    display: inline-block;
    width: 50px;
    /* Width of the timestamp */
    height: 1px;
    background: transparent;
    vertical-align: bottom;
}


.sent .timestamp {
    font-size: 10px;
    color: #2a475a;
    margin: auto 10px 5px 0;
    align-self: flex-end;
}


.last-sent .timestamp {
    font-size: 10px;
    color: #2a475a;
    margin: auto 15px 5px 0;
    white-space: nowrap;
}

.received .timestamp {
    font-size: 10px;
    color: #b5bcc0;
    margin: auto 10px 5px 0;
    align-self: flex-end;
    white-space: nowrap;
}

.last-received .timestamp {
    font-size: 10px;
    color: #b5bcc0;
    margin: auto 10px 5px 0;
    align-self: flex-end;
    white-space: nowrap;
}


.chat-message.received {
    margin-left: 10px;
    align-self: start;
}

.chat-message.received:not(.last-received) {
    margin-bottom: 2px;
}


.chat-message.last-received::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -3px;
    width: 0;
    height: 0;
    transform: rotateZ(45deg);
    border: 15px solid transparent;
    border-left-color: #4f704f;
    border-top-left-radius: 0;
}

.chat-message.sent:not(.last-sent) {
    margin-bottom: 2px;
}

.chat-message.sent {
    margin-right: 10px;
    align-self: flex-end;
    background-color: #82867f;
    color: rgb(244, 253, 255);
}

.chat-message.last-sent::before {
    content: "";
    position: absolute;
    bottom: -15px;
    right: -3px;
    width: 0;
    height: 0;
    transform: rotateZ(-45deg);
    border: 15px solid transparent;
    border-right-color: #82867f;
}

.caret {
    position: absolute;
    top: 3px;
    right: -5px;
    font-size: 2rem;
    cursor: pointer;
    transform: rotateZ(180deg) scaleX(1.2) scaleY(0.8);
    transition: all ease-in-out .1s;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.chat-message:hover .caret {
    right: 5px;
    opacity: 1;
    pointer-events: all;
}

.chat-message.show-caret .caret {
    right: 5px;
    opacity: 1;
    pointer-events: all;
}

.popup {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #1b1e22;
    padding: 0 0 3px 0;
    /* transform: translateY(100%); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.4rem;
    z-index: 2;
}

.popup::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;
    transform: rotateZ(180deg);
    border: 5px solid transparent;
    border-left-color: #1b1e22;
}

.popup-btn {
    box-sizing: border-box;
    text-align: left;
    background-color: transparent;
    border: none;
    color: antiquewhite;
    margin-top: 2px;

}

.popup-btn:not(:last-of-type) {
    border-bottom: 1px solid antiquewhite;
}

.popup-btn:hover {
    color: white;
    background-color: slategray;
    cursor: pointer;
}

.deleted-message {
    font-size: 12px;
    font-style: italic;
}

.received .deleted-message{
    color: #8696a0;
}

.sent .deleted-message{
    color: #575859;
}


@media screen and (max-width: 500px) {
    .chat-history {
        padding: 0 20px;
    }
}

@media screen and (min-width: 1300px) {
    .chat-history {
        padding: 0 5rem;
    }
}