.upload-key{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    padding: 15px;
}

.drag-drop-msg{
    margin-top: 20px;
}

.file-input {
    display: none;
  }

  .drop-zone{
    box-sizing: border-box;
    position:absolute;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: hsla(119, 97%, 24%, 0.106);
    border: 5px dashed #4299e1;
  }

.higlight-drop-zone{
    background-color: hsla(201, 100%, 50%, 0.106);
    border: 5px dashed #42e16a;
}