.signup-container{
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn:disabled{
    color: rgba(183, 183, 183, 0.638);
    cursor: not-allowed;
    background: hsla(200, 9%, 26%, 0.1);
    border: 1px solid hsl(0, 0%, 45%);
}